@font-face {
    font-family: myGill;
    src: url(./assets/fonts/gill-rb.TTF);
  }

.test {
    display: flex;
}
.card {
    background-color: #FDD118;
    width: 500px;
    height: 750px;
    border-radius: 15px;
}

.inner-card {
    background-color: #8AB937;
    margin: 20px;
    padding: 30px;
    
}



.card-header {
    display: flex;
    justify-content: space-between;
}

.pokemon-name {
    font-family: myGill, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.pokemon-hp {
    font-size: 30px;
    font-weight: 600;
    color: red;


}

.pokemon-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;
}

.pokemon-image img{
    align-items: center;
    width: 50%;
    height: 100%;
    border:10px solid #FDD118 ;
    padding-bottom: 0px;
    box-shadow: 5px 5px 5px #000;
}

.img-caption {
    font-size: ;
    background-color: #C79403;
    padding-top: 0px;
}

.moves {
    display: flex;
    padding-bottom: 40px;
}

.move-name {
    font-size: 20px;
    font-weight: 700;
}


.move-damage {
    font-size: 35px;
    font-weight: 500;

}

.stats {
    display: flex;
    justify-content: space-around;
    
}

.flavor-text {
    font-size: 12px;
    font-weight: 600;
    padding: 0px 5px;
    border:2px solid #FDD118 ;
}

.footer {
    display: flex;
    justify-content: space-around;
    font-size: 11px;
}



hr {
    height: 1.5px;
    background-color: #000;
    border: none;
}