body {
    background-color: #000;
}

.hex-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hexagon {
    padding-left: 20;
    position: relative;
    width: 200px;
    height: 115.47px;
    background-color: #fd0002;
    margin: 57.74px 0;
    transform: rotate(30deg);
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 57.74px solid #fd0002;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 57.74px solid #fd0002;
}

/* .hex {

    height: 100px;
    width: 100px;
    border: 30px solid #FD0002;
}

.triangle-top {
    width: 0;
    border-bottom: 30px solid #6C6;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.triangle-bottom {
    width: 0;
    border-top: 30px solid #6C6;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}
*/

.hex-text {
    font-size: 1.8em;
    color: #000;
    top: 50%;                          
    left: 50%;                         
    transform: translate(-50%, -50%);  
    margin: 0;             
} 