body {
    background-color: #1D1D1D;
    color: #fff;
}
.container {
    background-color: #000;
    padding: 20px;
   
    
    
}

.hero-text {

}

h1 {
    font-family: "Open Sans",sans-serif;
    font-size: 6rem;
    font-weight: 700;
    
}

p {
    font-family: "Open Sans",sans-serif;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.5);
}

.col2 {
    background-color: ;
}